# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Spyder
.spyproject/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
